*.rbc
*.dump
*.env
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/.vagrant
/vendor/bundle
test/logs/*
/tmp/*
/backups/*
/tmp/.keep
.byebug_history
/db/*.sqlite3
/public/system/*rake rails:update:bin
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
~*
.DS_Store
.powenv
*.sql
public
config/my-certs
.aliases
wal-e
